[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
ollama = "*"
watchdog = "*"
langchain-ollama = "*"
langchain-community = ">=0.2.11"
tavily-python = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
